<section class="cabecera-pagina">
  <div class="contenedor">
    <p class="etiqueta-seccion linea" style="--i: 0"><span class="linea__interior">{{i18n.trayectoria_titulo}}</span></p>
    <h1 class="titular-pagina">
      <span class="linea" style="--i: 1"><span class="linea__interior">{{i18n.trayectoria_titulo}}</span></span>
    </h1>
    <p class="cabecera-pagina__intro linea" style="--i: 2"><span class="linea__interior">{{i18n.trayectoria_intro}}</span></p>
  </div>
</section>

<section class="seccion seccion--primera">
  <div class="contenedor">
    <div class="seccion__cabecera reveal">
      <p class="etiqueta-seccion">{{i18n.timeline_titulo}}</p>
    </div>

    <div class="timeline">
      {{lista_timeline_items}}
    </div>
  </div>
</section>

<section class="seccion">
  <div class="contenedor">
    <div class="seccion__cabecera reveal">
      <p class="etiqueta-seccion">{{i18n.charlas_titulo}}</p>
    </div>

    <div class="rejilla-charlas">
      {{lista_charlas}}
    </div>
  </div>
</section>
